.horizontal-line {
  border:1px solid #f1e9e9;
  margin-top:5px;
}

.reg-section {
  /*font-weight:bold;*/
  text-transform:uppercase;
  cursor:pointer;
}

.new-account {
  margin-top:5px;
  color:#6f7a85;
  display:block;
  font-size:12px;
  text-align:center;
}
.user-profile{
  text-decoration: none;
  list-style: none;
}

