<div class="login-dark sign-up">
  <form method="post">
      <h2 class="sr-only">Update Profile</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="form-group"><input type="Text" name="text" placeholder="Name" class="form-control" /></div>
      <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" readonly/></div>
      <div class="form-group"><textarea class="form-control" name="address" placeholder="Address"></textarea></div>
      <div class="form-group"><input type="number" class="form-control" name="Phone" placeholder="Phone"/></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
  </form>
</div>